/*=================================================================================
|                                    VARIABLES                                    |
=================================================================================*/


/* colors
----------------------------------------------- */
$darkred: #781915;
$red: #D52E29;
$lightred: #FF5D58;
$black: #444;
$gray: #A8A8A8;
$gray1: #989898;
$white: #F6F6F6;

/* fonts
----------------------------------------------- */
$fontRegular: 'Asap', sans-serif;